{% extends 'admin/change_list.html' %}

{% block object-tools %}
    <table>
        <tr>
            <form action="notify/" method="POST">
                {% csrf_token %}
                    <button type="submit">Сделать объявление</button>
            </form>
            <form action="program_changed/" method="POST">
                {% csrf_token %}
                    <button type="submit">Отправить оповещение об изменениях в программе</button>
            </form>
        </tr>
    </table>
    <br />
{{ block.super }}
{% endblock %}